Pods/

.DS_Store
**/.DS_Store

.xcuserstate
**/.xcuserstate
*.xcuserstate

UserInterfaceState.xcuserstate

Build/
fastlane/report.xml
fastlane/test_output/
MyFawry.xcworkspace/xcuserdata/ramysabry.xcuserdatad/UserInterfaceState.xcuserstate
MyFawry.xcodeproj/xcuserdata/
MyFawry.xcworkspace/xcuserdata/
fastlane/ixguard.log
xcschememanagement.plist
*.xcbkptlist
*.xcuserstate
